body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Hiragino Sans", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Hiragino Sans", sans-serif;
    font-size: 30px;
}


p {
    text-justify: inter-word;
    font-family: "Hiragino Sans", sans-serif;
}

