* {
    font-family: serif;
    background: oklch(0.989006 0.007344 80.7214);
}
table {
    max-width: 800px;
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 0;
}
td { border: 1px solid black; padding: 10px; }
table { width: 100%; }
.bold { font-weight: bold }
img { 
    image-rendering: optimizeSpeed;           
    image-rendering: -moz-crisp-edges;        
    image-rendering: -o-crisp-edges;           
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;                
    image-rendering: optimize-contrast;        
    -ms-interpolation-mode: nearest-neighbor; 

}
ul { margin: 0; }
body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
