
@font-face {
    font-family: 'Product Sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Product Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light'), url('ProductSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono'), url('RobotoMono-VariableFont_wght.ttf') format('ttf');
}

html {
    height: 100%;
}

body {
    background: #e3e3e3;
    color: #181818;
    display: flex;
    justify-content: center;
    font-size: 18px;
}


h1 {
    font-size: 35px;
    margin: 0;
    font-family: "Product Sans Medium Regular", sans-serif;
}

h2 {
    font-family: "Product Sans Light", sans-serif;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-size: 25px;
}

p {
    font-family: "Product Sans Light", sans-serif;
    background: #cbcbcb;
    padding: 20px;
}

.card {
    font-family: 'Product Sans Light', serif;
    width: 700px;
    margin-top: 50px;
}

li {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.company {
    font-size: 22px;
    padding-right: 20px;
    display: block;
}

.links {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.links a {
    margin: 5px;
    padding: 5px;
    display: block;

}

a {
    color: #181818;
}