@font-face {
    font-family: 'Jetbrains Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}


* {
    background: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

body {
    padding: 10px;
}
